/* salarycalculator.css */

/* Style for the container */
.SalaryCalculator {
    max-width: 400px;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    text-align: center;
  }
  
  /* Style for headings */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  /* Style for labels */
  label {
    display: block;
    margin-top: 10px;
  }
  
  /* Style for input fields */
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style for the calculate button */
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  