.calculator {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin-top: 3%; /* Add top margin space */
    margin-left: 70%; /* Add left margin to move it to the top-left corner */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  
  .calculator h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .result p {
    margin: 5px 0;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  